.Titulo_Sin_Fondo {
    color: var(--saturadoOscuro);
    padding: 20px;
    text-align: center;
    font-size: 1.728rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Abril Fatface", serif !important;
}

.QueVemos {
    background-color: var(--grisClaro);
    color: var(--grisOscuro);
    height: 10vh;
    font-size: 1.75rem;
    align-content: center;
    margin: 0 auto;
}

.categoryPage {
    background-color: rgb(53, 59, 60, 0.7);
    margin-top: 0px;
}

.numArticulos {
    background-color: var(--grisClaro);
    color: #353b3c;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Special Elite", serif !important;
}

.indiceCategorias {
    background-color: var(--grisClaro);
    color: var(--saturadoOscuro);
    padding: 20px;
    text-align: center;
    font-size: 1.728rem;
    display: flex;
    align-items: center;
    font-family: "Abril Fatface", serif !important;
}

.enlaces-lista {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    text-align: center;
}

.enlace-item {
    margin: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: var(--saturadoClaro);
    padding: 10px 0px;
}

.enlace-item h3 {
    color: var(--grisOscuro);
}

.enlace-item .contenidoEntero {
    width: 90% !important;
}

.enlace-item .editor {
    max-height: 400px;
    width: 100%;
    overflow: hidden
}

.enlace-item .yoopta-editor {
    margin: 0px 15px auto;
    width: calc(100%-30px) !important;

}

.enlace {
    color: #353b3c;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .enlaces-lista {
        grid-template-columns: 1fr 1fr;
    }
}

.filtro-categorias {
    display: flex;
    justify-content: space-around;

    padding: 20px 0;
}

.filtro-boton {
    background-color: var(--grisClaro);
    color: var(--saturadoOscuro);
    padding: 15px 25px;
    font-size: 1.2rem;
    font-family: "Abril Fatface", serif !important;
    border: 2px solid var(--saturadoOscuro);
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.filtro-boton:hover {
    background-color: var(--saturadoClaro);
    color: var(--grisOscuro);
}

.filtro-boton.activo {
    background-color: var(--saturadoOscuro);
    color: white;
    border-color: var(--grisOscuro);
    transform: scale(1.05);
}