.finder-wrapper {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 1rem;
    text-align: center;
}

.titleArticleFinder {
    font-size: 2rem;
    color: var(--grisOscuro);
    font-family: "Abril Fatface", serif;
    margin-bottom: 1.5rem;
}

.finder-error {
    color: red !important;
    margin-top: 1rem;
    font-style: italic;
}

.finder-empty {
    color: var(--grisMeio);
    font-style: italic;
    margin-top: 1rem;
}