.cookiesContainer{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 10%;
}
h1{
    font-size: 40px;
    margin-bottom: 1%;
}
h2{
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 1%;
}
a{
    text-align: center;
}
ul{
    list-style-type: disc;
    margin-left: 30px;
}